@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt,wght.ttf");
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.navbar-container {
  background-color: bisque;
}

.navbar-container h1 {
  font-size: 10rem;
}
